body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

#data-container {
    text-align: center;
    margin: 50px;
}

h1 {
    color: #ff4646; /* Red */
}

#data-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.data-box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ff4646; /* Red */
    background-color: #000;
}

.data-box h2 {
    margin: 0;
    color: #ff4646; /* Red */
}

#data-list li {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ff4646; /* Red */
    background-color: #000;
}

#data-list li h3 {
    margin: 0;
}

